anyio==3.3.0
async-generator==1.10
autopep8==1.5.7
brython==3.9.5
certifi==2022.9.24
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
contextvars==2.4
dataclasses==0.8
distlib==0.3.2
Flask==2.0.1
h11==0.12.0
h2==4.0.0
hpack==4.0.0
HTMLParser==0.0.2
httpcore==0.13.6
httpx==0.19.0
hyperframe==6.0.1
idna==3.2
immutables==0.16
importlib-metadata==4.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycodestyle==2.7.0
PySimpleGUI==4.46.0
PySimpleGUIWeb==0.39.0
pytchat==0.5.5
remi==2020.3.10
requests==2.26.0
rfc3986==1.5.0
sniffio==1.2.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.5.0
